* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

html,
body {
  height: 100%;
}

.center {
  margin: auto;
  max-width: 1280px;
  padding: 0 2%;
  width: 100%;
}

header {
  background-color: #5728f8;
  padding: 10px 0;

  & .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo {
      & img {
        max-width: 120px;
      }
    }

    & .menu {
      & ul {
        display: flex;

        & li {
          list-style: none;

          & a {
            text-decoration: none;
            color: #ffff;
            padding:0 8px;
            font-family: "Open Sans";
          }
        }
      }
    }

    & .login {
      & button {
        border: none;
        border-radius: 20px;
        padding: 8px 15px;

        & a {
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  width: 100%;
  & .content_main {
    background-image: url(../imgs/bg_main.png);
    background-position: center;
    background-size: 100% 100%;
    color: #ffff;
    min-height: 460px;

    & .center {
      text-align: center;
      & h1 {
        font-family: "Luckiest Guy";
        font-size: 3.5rem;
        max-width: 320px;
        padding-top: 80px;
        margin: auto;
      }

      & p {
        margin: auto;
        max-width: 760px;
        padding-top: 25px;
      }

      & button {
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        font-size: 1rem;
        margin: 0 10px;
        margin-top: 35px;
        padding: 10px 20px;
      }

      & button:last-of-type {
        background-color: #23272a;
        color: #ffff;
      }
    }
  }

  & .advantage {
    padding: 30px 0;
    & .center {
      & .item_flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0;
        & .content_img {
          width: 60%;
          height: 400px;

          & img{
            width:100%;
            height: 100%;
          }
        }

        & .content_info {
          padding: 0 10px;
          width: 40%;

          & h2{
            color: #23272A;
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 54px;
          }

          & p{
            padding-top: 20px;
            font-size: 1rem;
          }
        }
      }

      & .item_flex:nth-of-type(2){
        flex-direction: row-reverse;

        & .content_img{
            text-align: left;
            & img{
               margin: auto;
            }
        }
        
      }
    }
  }

  & .conection{
    padding: 30px 0;

    & .center{
        text-align: center;
        & h2{
            color: #23272A;
            font-size: 2.4rem;
            font-weight: 800;
            font-family: "Luckiest Guy";
            max-width: 600px;
            margin: auto;
            padding: 20px 0;
        }

        & p{
            font-size: 1rem;
            max-width: 800px;
            margin: auto;
            padding: 20px 0 ;
        }

        & .content_img{
            max-width: 800px;
            height: 510px;
            margin: auto;

            & img{
                height: 100%;
                width: 100%;
            }
        }
    }
  }
}


footer{
    background-color: #23272A;
    padding: 20px 0;

    & .center{
        & .logo{
            text-align: center;

        }
    }
}

@media screen and (max-width: 740px) {
    header{
        & .center{
            justify-content: center;
            & .menu , .login{
                display: none;
            }
        }
    }

    main{
        
        & .content_main{
            background-size: cover;
            padding: 20px 0;
            & .center{
                text-align: left;

                & h1{
                    margin: 0;
                }

                & button{
                    display: block;
                    width: 80%;
                    margin: 20px auto;
                }
            }
        }

        & .advantage{
            & .center{
                & .item_flex{
                    padding: 20px 40px;
                    & .content_img,
                      .content_info{
                        width: 100%;
                        padding: 10px 0;
                        & h2{
                            font-size: 1.8rem;
                            line-height: 33px;
                        }
                      }
                }
            }
        }
    }
}